@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color:#FFFAFA;
}


.table-head{
    margin: 1rem;
    padding: 0.4rem;
    background-color: aliceblue;
    border: 2px solid black;
    text-align: center;

    /* border-collapse: collapse; */
}

    .heading{
    margin: 1rem;
    text-align: center;
}

table{
    margin: 0 0 2rem 0;
    
}

.recommendations {
    display: flex;
    justify-content: space-evenly;
}

.recommendations th, tr{
    padding: 0.5rem 2rem;
}
.recommendations-phy td{
    text-align: justify;
    padding-left: 4px;
    padding-right: 4px;

}
.recommendations-meds td{
    text-align: justify;
    padding-left: 4px;
    padding-right: 4px;

}
.recommendations-medi td{
    text-align: justify;
    padding-left: 4px;
    padding-right: 4px;

}
.recommendations-nutri td{
    text-align: justify;
    padding-left: 4px;
    padding-right: 4px;

}
.patient-cond {
    display: flex;
    justify-content: space-evenly;
    margin: 0 1rem ;
}

.patient-cond th, tr{
    padding: 0.5rem 2rem ;
   
}
.patient-cond td{
    padding: 4px;
}
.patient-det {
    display: flex;
    /* justify-content: flex-start; */
    margin: 0 1rem;
    justify-content: center;

   
}

.patient-det td{
    padding: 0 2rem 0 0.5rem;
}


table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    
}

td{
    text-align: left;
}

.pat-con{
    display: flex;
    justify-content: center;
    
}

.recs {
    display:flex ;
    justify-content: space-evenly;
}

.recs table{
    width: 28rem;
    margin: 0.3rem 1rem;
}

li{
    margin: 1rem 0.5rem;
}

/* Style the label that will collapse the content */
.label {
   
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    transition: background-color 0.3s;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 47%;
    padding-bottom: 50px;
    
  }
  
  /* Change the background color of the label on hover */
  /* .label:hover {
    background-color: #777;
  } */
  
  /* Style the content that will be collapsed */
  .collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: flex-end;
    /* background-color: #f1f1f1; */
  }
  
  /* Show the content when the label is clicked */
  .toggle:checked ~ .collapsible-content {
    display: block;
  
    
  }
  
