<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Info_about</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="home_measure">
	<h1 class="measure1">Measure Body Vitals at Home</h1>
    <div class="back_ab">
    <div  class="ab_box">
	<h2 >Heart_rate</h2>
	<p class="measure2">As the heart forces blood through the arteries, you feel the beats by firmly pressing on the arteries, which are located close to the surface of the skin at certain points of the body. The pulse can be found on the side of the neck, on the inside of the elbow, or at the wrist. For most people, it is easiest to take the pulse at the wrist. If you use the lower neck, be sure not to press too hard, and never press on the pulses on both sides of the lower neck at the same time to prevent blocking blood flow to the brain.</p>
	<div class="container1">
	<details class="ab_detail">
	
	
	<img class="hrate"  src="https://media.istockphoto.com/id/936681610/photo/measuring-of-pulse-on-wrist-by-the-doctor.jpg?s=612x612&w=0&k=20&c=K7yDI8WnmHJcV9iRddhDSVi35RpbdvAgu4ZNOCaEEjQ=">
	<summary class="proc_about">Procedure</summary>
	<div class="about_li">
        <li>Using the first and second fingertips, press firmly but gently on the arteries until you feel a pulse.</li>
		<li>Begin counting the pulse when the clock's second hand is on the 12.</li>
		<li>Count your pulse for 60 seconds (or for 15 seconds and then multiply by four to calculate beats per minute).</Li>
		<li>When counting, do not watch the clock continuously, but concentrate on the beats of the pulse.</li>
		<li>If unsure about your results, ask another person to count for you.</li>
		</details>
	</div>
		
	<h2>Blood Pressure</h2>
	<p class="measure2">Blood pressure is the force of the blood pushing against the artery walls during contraction and relaxation of the heart. Each time the heart beats, it pumps blood into the arteries, resulting in the highest blood pressure as the heart contracts. When the heart relaxes, the blood pressure falls.</p>
	<div class="container1">
	<details class="ab_detail">
	<img class="hrate"  src="https://img.freepik.com/free-photo/unhealthy-young-woman-orange-t-shirt-feeling-unwell-measuring-blood-pressure-using-tonometer-looking-worried-standing-white-wall_141793-100182.jpg">
	<summary class="proc_about">Procedure</summary>
	<div class="about_li">
	<li>Follow the instructions that came with your monitor. Make sure you place the cuff around your arm as described in the instructions.</li>
	<li>Place the arm cuff just above your elbow. The cuff should be about 2cm above your elbow to make sure it can detect the artery in your arm, just under the skin.</li>
	<li>Keep still and quiet while you take your reading. Moving, chewing, talking and laughing can affect your reading. Make sure you don't cross your legs, as this will raise your reading too.</li>
	<li>Take two or three readings, each about one to two minutes apart. If your first reading is much higher than the next, ignore it and take an extra reading. Once you have two to three readings, you can work out the average.</li> 
	<li>Keep a record of your measurements. Record all your readings in the memory of your monitor, on your computer or phone or on paper – whichever you prefer. Write them down exactly as they appear on screen.</li>
	</details> 
</div>

	<h2>SpO2 level</h2>
	<p class="measure2">SpO2 stands for peripheral capillary oxygen saturation, an estimate of the amount of oxygen in the blood. More specifically, it is the percentage of oxygenated haemoglobin (haemoglobin containing oxygen) compared to the total amount of haemoglobin in the blood ( oxygenated and non-oxygenated haemoglobin).</p>
	<div class="container1">
	<details class="ab_detail">
	<img class="hrate"  src="https://health.clevelandclinic.org/wp-content/uploads/sites/3/2020/05/pulseOximeter-1216546578-770x533-1.jpg"><summary class="proc_about">Procedure</summary>
	<div class="about_li">
	To check oxygen level at home without pulse oximeter.

	<li>Apps:
	The latest technology has resulted in companies creating apps that can track your oxygen levels. You can check out HemoSpO2 or CarePlix, these are apps that allow you to track your oxygen levels and pulse rate. The apps track oxygen saturation levels in the blood and pulse rate by one simple step. You are supposed to place your index finger on the phone’s flashlight. The app will do the rest. Once your pulse rate and oxygen level are measured, they will be displayed on the phone screen.</li>

	<li>Tracking respiratory rate :
	Another method of monitoring your oxygen at home is by tracking your respiratory rate. This is a simple, non-intrusive method that can be done easily when it comes to how to measure oxygen level without oximeter. You are supposed to count the number of breaths you are taking in a minute. To do this, place your hand on your chest and count the number of times you breathe. If your respiratory rate is more than 30, you might have a low oxygen level.</li>

	<li>Tracking symptoms :
	Check oxygen level without oximeter by tracking your symptoms. If you are experiencing any of the following symptoms ( headache, nausea, uneven breathing, dizziness, rapid heartbeat, feeling faint, etc). There are high chances your oxygen level is low.</li>
	</details>
	</div>

	<h2>Glucose level</h2>
	<p class="measure2">The blood glucose level is the amount of glucose in the blood. Glucose is a sugar that comes from the foods we eat, and it's also formed and stored inside the body.</p>
	<div class="container1">
	<details class="ab_detail">
	<img class="hrate"  src="https://thumbs.dreamstime.com/b/woman-checking-blood-sugar-level-glucometer-diabetes-using-lancelet-home-107502325.jpg">
	<summary class="proc_about">Procedure</summary>
	<div class="about_li">
	<li>The one device that does require a finger prick is a meter. This is the most widely available and affordable option.</li>
	<li>To use this device, you’ll insert a test strip into the meter. You’ll prick your finger to retrieve a sample of blood, and then place the sample on the edge of the test strip to check your blood sugar.</li>
	<li>Glucometers are convenient because they’re small and portable, allowing you to use them anywhere. Your blood sugar results are also accurate and instant.</li>

	In this way Glucose level can be measured at home.
	</details >
	</div>

	<h2>Temperature</h2>
	<p class="measure2">Body temperature is a measure of how well your body can make and get rid of heat. The body is very good at keeping its temperature within a safe range, even when temperatures outside the body change a lot.</p>
	<div class="container1">
	<details class="ab_detail">
	<img class="hrate"  src="https://img.freepik.com/premium-photo/mother-checking-temperature-her-sick-daughter-with-thermometer-mouth_143683-4988.jpg?w=2000">
	<summary class="proc_about">Procedure</summary>
	<div class="about_li">
	<P>A person's body temperature can be taken in any of the following ways:</P>
		<li>Orally: Temperature can be taken by mouth using either the classic glass thermometer, or the more modern digital thermometers that use an electronic probe to measure body temperature.</li>
		<li>Rectally: Temperatures taken rectally (using a glass or digital thermometer) tend to be 0.5 to 0.7 degrees F higher than when taken by mouth.</li>
		<li>Axillary: Temperatures can be taken under the arm using a glass or digital thermometer. Temperatures taken by this route tend to be 0.3 to 0.4 degrees F lower than those temperatures taken by mouth.</Li>
		<li>By ear. A special thermometer can quickly measure the temperature of the ear drum, which reflects the body's core temperature (the temperature of the internal organs).</li>
		<li>By skin. A special thermometer can quickly measure the temperature of the skin on the forehead.</li>
		</details>
	</div>
</div>
</div>

</body>
</html>