<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post3</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<Body class="nut">
    <div class="text-block">
        <h4 class="nuet">Stress Management</h4>
        
      </div>
      <div class="adjust">
    
    <img src="../static/post1_3.jpg" class="nutimage">
    
    <p class="eat"> Stress is a psychological and physical reaction to the demands of life.
         A small amount of stress can be good, motivating you to perform better. However excessive
          stress due to continuous challenges can push you beyond your ability to cope with it.<br>
          A person can experience stress due to many reasons like financial issues, a loved one’s illness, 
          retirement or an emotionally devastating event, such as the death of a spouse or being fired from work. 
          However, much of our stress comes from less dramatic everyday responsibilities.<br>
        </div>
        <div class="eater">
            Prolonged stress can affect not only mental health but physical health as well. 
            In response to stressors, your body automatically increases blood pressure, heart rate,
             respiration, metabolism, and blood flow to your muscles. Stress can increase the risk of stroke,
              heart attack, peptic ulcers, and mental illnesses such as depression. Usually, recurrent stress 
              makes you more and more vulnerable to the subsequent stressor.<br>
              A physician can diagnose stress on the basis of mental, physical and behavioral signs like Inability to concentrate, memory lapses & forgetfulness, less intuitiveness & creativity, anxiety, irritability,
               lack of motivation, constipation or diarrhea, unexplained weight loss or gain, insomnia,
                social withdrawal, etc.</p>
        </div>
        <h3 style="padding-left: 50px;padding-top: 30px;">Simple ways to manage stress</h3>
        <div class="eater">
            
        </div>
        
        <ul  class="inc"style="list-style-type:disc;">
            <li>Be realistic– Don’t set unrealistic targets and keep in mind that if you are always pursuing
                 perfection in everything, you will never be content.</li>
            <li>Get help from others– Don’t try to be superman/superwoman. Ask yourself, “How much I can do? 
                Is the deadline realistic? Can I do it on my own?” and if you need help never hesitate to ask for it.</li>
            <li>Learn to say NO– “No is not always negative” Shed the people pleasing attitude and always consider whether
                 it will comfortable for you before making any commitment or granting favor.</li>
          </ul>
</body>
</html>