<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/recommendations">Recommendations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/faqs">FAQ's</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
  </ul>
<body class="rec_ main">
    
    <div class="diseases">
        <h1 >Common Treatments</h1>
        <div class="wrap-collabsible">
          <input id="collapsible" class="toggle" type="checkbox">
          <label for="collapsible" class="lbl-toggle">Acne</label>
          <div class="collapsible-content">
            <div class="content-inner">
              <ul>
                <h4>Drugs</h4>
              <li>doxycycline</li>
              <li>spironolactone</li>
              <li>minocycline</li>
              <li>Accutane</li>
              <li>clindamycin</li>
                <h4> Home remedy</h4>
              <li>Moisturize with aloe vera</li>
              <li> Apply green tea to the skin</li>
              <li> Spot treat with other essential oils</li>
              <h4>Acupressure</h4>
              <li>LI11 (Quchi). This point is located at the outside elbow crease.</li>
              <li>LI4 (Hegu). This point is located between the base of your thumb and index finger</li>
            </ul>
            </div>
          </div>
        </div>
    
        <div class="wrap-collabsible1"> 
        <input id="collapsible1" class="toggle1" type="checkbox">
        <label for="collapsible1" class="lbl-toggle1">Allergies</label>
        <div class="collapsible-content1">
        <div class="content-inner1">
          <ul>
              <h4>Drugs</h4>
            <li>hydroxyzine</li>
            <li>loratadine</li>
            <li>levocetirizine</li>
            <li>Xyzal</li>
            <li>Vistaril</li>
          </ul>
          <h4> Home remedy</h4>
           <li>Air filter in indoor environments</li>
           <li>Bromelain is an enzyme found in papaya and pineapple.
               Natural healers consider bromelain to be effective at improving breathing by reducing swelling.</li>
           <li>Honey lower's allergic reactions.</li>
           <h4>Acupressure</h4>
           <li>Spleen 5 (SP 5) -The SP 5 pressure point is located on 
              the inside of the ankle, just by the protruding bone</li>
           <li>Large Intestine 20 (LI 20).The LI 20 point is easily accessible
               on the outside of both nostrils, just to the side.</li>
       </div>
    </div>
  </div>
</div>

<div class="wrap-collabsible2"> 
  <input id="collapsible2" class="toggle2" type="checkbox">
  <label for="collapsible2" class="lbl-toggle2">Anxiety</label>
  <div class="collapsible-content2">
  <div class="content-inner2">
      <ul>
        <h3>Drugs</h3>
      <li>Xanax</li>
      <li>alprazolam</li>
      <li>lorazepam</li>
      <li>buspirone</li>
      <li>Ativan</li>
    </ul>
    <h4> Home remedy</h4>
     <li>Breathe. One of the best things you can do when you start to feel that
         familiar panicky feeling is to breathe.</li>
     <li>Exercise</li>
     <li> Meditation</li>
     <h4>Acupressure</h4>
     <li>Hall of impression point-The hall of impression point lies between your eyebrows. 
        Applying pressure to this point is said to help with both anxiety and stress.</li>
     <li>Heavenly gate point-The heavenly gate point is located in the upper shell of your ear, 
        at the tip of the triangle-like hollow there.
    </li>
   
 </div>
</div>
</div>
</div>

<div class="wrap-collabsible3"> 
  <input id="collapsible3" class="toggle3" type="checkbox">
  <label for="collapsible3" class="lbl-toggle3">Arthritis</label>
  <div class="collapsible-content3">
  <div class="content-inner3">
    <ul>
      <h3>Drugs</h3>
    <li>acetaminophen</li>
    <li>NSAIDs </li>
    <li>COX-2 inhibitors</li>
    <li>salicylates</li>
    <li>corticosteroids</li>
  </ul>

  <h4> Home remedy</h4>
   <li> Manage your weight</li>
   <li> Use hot and cold therapy</li>
   <li> Use meditation to cope with pain</li>
   <h4>Acupressure</h4>
   <li> Pericardium 6 (PC 6 or P 6)-The PC 6 is a pressure point commonly utilized for symptoms
       such as motion sickness, stomach pain, and indigestion that can spring up in everyday situations.</li>
   <li>Heart 7 (HT 7) -The Heart 7 pressure point belongs to the heart meridian and is located next to your outer arm tendon.
  </li>
</div>
</div>
</div>
     
<div class="wrap-collabsible4"> 
  <input id="collapsible4" class="toggle4" type="checkbox">
  <label for="collapsible4" class="lbl-toggle4">Asthma</label>
  <div class="collapsible-content4">
  <div class="content-inner4">
    <ul>
      <h3>Drugs</h3>
    <li>Singulair</li>
    <li>montelukast</li>
    <li>prednisone</li>
    <li>Fasenra</li>
    <li>benralizumab</li>
  </ul>
  <h4> Home remedy</h4>
   <li>Garlic has several health benefits, including anti-inflammatory properties, according to research.
       Because asthma is an inflammatory disease, garlic may be able to help relieve your symptoms. </li>
   <li>Ginger is another herb that contains anti-inflammatory properties and may help with severe asthma. </li>
   <li>Consuming probiotics may help reduce inflammation. </li>
   <h4>Acupressure</h4>
   <li>Lung 1 & 2-In between the inner front shoulder and chest.</li>
   <li>Kidney 23 & 25-Located int the second intercostal space in  line with the nipples. 
  </li>
  </div>
</div>
</div>

<div class="wrap-collabsible5"> 
  <input id="collapsible5" class="toggle5" type="checkbox">
  <label for="collapsible5" class="lbl-toggle5">Bipolar Disorder</label>
  <div class="collapsible-content5">
  <div class="content-inner5">
    <ul>
      <h3>Drugs</h3>
    <li>Lamictal</li>
    <li>lamotrigine </li>
    <li>Seroquel</li>
    <li>Abilify</li>
    <li>Vraylar</li>
  </ul>
  <h4>Home remedy</h4>
  <li>A healthful diet is an important lifestyle habit for a person with bipolar disorder.</li>
  <li>Moderate and regular exercise can help to balance mood and prevent a number of health 
      problems, such as obesity and cardiovascular disease.</li>
  <li>Good sleep hygiene can encourage people with the condition to have regular sleep.</li>
   <h4>Acupressure</h4>
      <li>GV20 acupressure point-located on the highest place of the head where all the yang meridians meet</li>
      <li>PC6 acupressure point-The PC6 acupoint lies between the tendons of the palmaris longus and flexor
         carpi radialis muscles, 4 cm proximal to the wrist crease </li>

  </div>
</div>
</div>

<div class="wrap-collabsible6"> 
  <input id="collapsible6" class="toggle6" type="checkbox">
  <label for="collapsible6" class="lbl-toggle6">Bronchitis</label>
  <div class="collapsible-content6">
  <div class="content-inner6">
    <ul>
      <h3>Drugs</h3>
    <li>Mucinex</li>
    <li>azithromycin </li>
    <li>Azithromycin Dose </li>
    <li>doxycycline</li>
    <li>guaifenesin</li>
  </ul>
  <h4>Home remedy</h4>
  <li>Chew dried, crystallized ginger.Use fresh ginger to make tea.</li>
  <li>Garlic is believed to have a number of healing properties.
       Garlic effectively inhibited the growth of infectious bronchitis virus.</li>
  <li>Turmeric also increases antioxidant activity,
       meaning that it may help reduce irritation and boost your immunity</li>
       <h4>Acupressure</h4>
<li>The LU7 Acupressure Point:It is located 1.5 cun proximal to the crease of the wrist.
   Press the point for at least 1 minute and then take a 4-hour break as you press the same point.</li>
<li> The SP6 Acupressure point:It is located 3 cun upwards from the tip of the ankle joint bone and is located behind the vertical leg bone. 
  Press the point for at least 1 point and keep breathing on naturally to aid the treatment.</li>
</div>
  </div>
</div>
</div>

<div class="wrap-collabsible7"> 
  <input id="collapsible7" class="toggle7" type="checkbox">
  <label for="collapsible7" class="lbl-toggle7">Cholesterol</label>
  <div class="collapsible-content7">
  <div class="content-inner7">
    <ul>
      <h3>Drugs</h3>
    <li>atorvastatin</li>
    <li>simvastatin </li>
    <li>Crestor</li>
    <li>Repatha</li>
    <li>Praluent</li>
  </ul>
  <h4>Home remedy</h4>
  <li>Astragalus is an herb used to support the immune system in traditional Chinese medicine.</li>
  <li>Flaxseed preparations may help lower cholesterol, particularly among people with high cholesterol levels.</li>
  <li>Garlic may help lower your blood pressure, reduce your blood cholesterol levels.</li>
  <h4>Acupressure</h4>
<li>STOMACH 36- bend leg slightly and place four fingers just below the kneecap, starting with the index finger
   at the low of the kneecap and where the little finger reposes over the hard shinbone </li>
<li>STOMACH 40-This acupressure point is located on the outer side of the lower leg, 8 inches above to the outer part 
  of the malleolus and 2 middle finger widths from the prior crest of the tibia.</li>
  </div>
</div>
</div>

<div class="wrap-collabsible8"> 
  <input id="collapsible8" class="toggle8" type="checkbox">
  <label for="collapsible8" class="lbl-toggle8">Cold and flu</label>
  <div class="collapsible-content8">
  <div class="content-inner8">
    <ul>
      <h3>Drugs</h3>
    <li>Benadryl</li>
    <li>diphenhydramine	</li>
    <li>Vicks</li>
    <li>Coricidin HBP</li>
    <li>chlorpheniramine</li>
  </ul>
  <h4>Home remedy</h4>
  <li>A few slices of raw ginger root in boiling water may help sootheTrusted Source a cough or sore throat.</li>
  <li>Honey has a variety of antibacterial and antimicrobial properties. 
      Drinking honey in tea with lemon can ease sore throat pain.</li>
  <li> Adding a garlic supplement to your diet might reduce the severity of cold symptoms.</li>
  <h4>Acupressure</h4>
<li> Yu-ji -This point is located on the outer edge of your palm, an inch or so below the base of your thumb.</li>
<li>Shao-shang -This point is located on the outer side of your thumb, right next to the bottom of your nail bed. </li>
  </div>
</div>
</div>

<div class="wrap-collabsible9"> 
  <input id="collapsible9" class="toggle9" type="checkbox">
  <label for="collapsible9" class="lbl-toggle9">Constipation</label>
  <div class="collapsible-content9">
  <div class="content-inner9">
    <ul>
      <h3>Drugs</h3>
    <li>docusate</li>
    <li>MiraLAX</li>
    <li>Colace</li>
    <li>Dulcolax</li>
    <li>bisacodyl</li>
  </ul>
  <h4>Home remedy</h4>
  <li>It is important to drink enough water and stay hydrated to prevent constipation. </li>
  <li>Coffee contain small amounts of soluble fibers that help prevent constipation by improving the balance of gut bacteria</li>
  <li>Senna is a popular safe and effective herbal laxative that helps treat constipation.</li>
<h4>Acupressure</h4>
<li>Large Intestine 4 (LI 4)- located between the thumb and the index finger, it’s on that fleshy part of your skin that connects the two.</li>
<li>Stomach 25 (ST 25)-Locate your belly button and measure out to the left or right two to three inches.</li>
</div>
  </div>
</div>
</div>

<div class="wrap-collabsible10"> 
  <input id="collapsible10" class="toggle10" type="checkbox">
  <label for="collapsible10" class="lbl-toggle10">Depression</label>
  <div class="collapsible-content10">
  <div class="content-inner10">
    <ul>
      <h3>Drugs</h3>
    <li>bupropion</li>
    <li>Cymbalta</li>
    <li>sertraline</li>
    <li>Zoloft</li>
    <li>Lexapro</li>
  </ul>
  <h4>Home remedy</h4>
  <li> Depression can make it hard to get enough shut-eye, and too little sleep can make depression worse.</li>
  <li>Eat healthy-There is no magic diet that fixes depression.</li>
  <li>Regular exercise seems to encourage the brain to rewire itself in positive ways.</li>
<h4>Acupressure</h4>
<li> HEART 7 (HT-7) -On the crease of your inner wrist towards the ulnar (pinky finger) side. 
  Feel for a hollow place at the base of the pisiform bone.</li>
<li>NEIGUAN (PC6)-Find the middle of your wrist, about two finger widths below the palm. Using your thumb and forefinger, 
  press on this location for 2-3 minutes. Repeat on your other wrist.</li>
</div>
  </div>
</div>
</div>

<div class="wrap-collabsible11"> 
  <input id="collapsible11" class="toggle11" type="checkbox">
  <label for="collapsible11" class="lbl-toggle11">Diabetes</label>
  <div class="collapsible-content11">
  <div class="content-inner11">
    <ul>
      <h3>Drugs</h3>
    <li>Humalog</li>
    <li>Lantus</li>
    <li>Novolog</li>
    <li>Lantus SoloStar</li>
    <li>Levemir</li>
  </ul>
  <h4>Home remedy</h4>
  <li>1-2 tablespoons of Apple Cider Vinegar taken with meals can decrease the glycemic load of a carbohydrate rich meal.</li>
  <li>Eating fiber decreases blood sugar and insulin concentrations.</li>
  <li>Cinnamon-A medically beneficial indulgence to help lower your blood sugar and cholesterol levels. </li>
<h4>Acupressure</h4>
<li> Palm-This point lies in the fleshy part of your palm that falls between the index finger and the thumb. Y</li>
<li>Wrist -This acupressure point falls on the side of your wrist along the little finger. </li>
  </div>
</div>
</div>

<div class="wrap-collabsible12"> 
  <input id="collapsible12" class="toggle12" type="checkbox">
  <label for="collapsible12" class="lbl-toggle12">Diarrhea</label>
  <div class="collapsible-content12">
  <div class="content-inner12">
    <ul>
      <h3>Drugs</h3>
    <li>loperamide</li>
    <li>Lomotil</li>
    <li>Imodium</li>
    <li>Imodium A-D</li>
    <li>Anti-Diarrheal</li>
  </ul>
  <h4>Home remedy</h4>
  <li>Raw Bananas</li>
  <li>Probiotics include curd, yogurt, and other fermented foods.</li>
  <li>You can also make an oral rehydration solution (ORS) at home by mixing 5 tsp salt and 5-6 tsp sugar in 1 litre of water. </li>
<h4>Acupressure</h4>
<li>SP-6 -One palm width above the tip of the inner anklebone, on the back of the shinbone</li>
<li>Pc-6 -Two thumb widths from the largest crease on the inside wrist.</li>

  </div>
</div>
</div>

<div class="wrap-collabsible13"> 
  <input id="collapsible13" class="toggle13" type="checkbox">
  <label for="collapsible13" class="lbl-toggle13">Hair Loss</label>
  <div class="collapsible-content13">
  <div class="content-inner13">
    <ul>
      <h3>Drugs</h3>
    <li>spironolactone</li>
    <li>minoxidil</li>
    <li>Azulfidine</li>
    <li>sulfasalazine</li>
    <li>Azulfidine EN-tabs</li>
  </ul>
  <h4>Home remedy</h4>
  <li>Massaging the scalp, which people can combine with hair oils and masks, stimulates the scalp.</li>
  <li>Aloe vera has long been used for treatingTrusted Source hair loss. It also soothes the scalp and conditions hair.</li>
  <li>Onion juice promotes hair growth</li>
<h4>Acupressure</h4>
<li>Fengchi (GB20) -It is located behind your earlobe, toward the top of your neck and the base of your skull.
</li>
<li>Baihui (GV20) - It is located at the top of the head. Press it gently for about 1 minute. 
  Then, release your finger for about 30 seconds, and repeat the process for few times.</li>
  </div>
</div>
</div>

<div class="wrap-collabsible14"> 
  <input id="collapsible14" class="toggle14" type="checkbox">
  <label for="collapsible14" class="lbl-toggle14">Hayfever</label>
  <div class="collapsible-content14">
  <div class="content-inner14">
    <ul>
      <h3>Drugs</h3>
    <li>Zyrtec</li>
    <li>cetirizine</li>
    <li>fluticasone</li>
    <li>loratadine</li>
    <li>Flonase</li>
  </ul>
  <h4>Home remedy</h4>
  <li>Honey is said to be a natural remedy for hay fever because the bee 
      pollen in honey can desensitise your body to other pollens.</li>
  <li>Vitamin C is a known natural antihistamine and can be found in oranges, lemons and grapefruit. </li>
  <li>Red and chilli peppers contain an active component called capsaicin.</li>
<h4>Acupressure</h4>
<li>Lu7-Find the point three finger widths above the wrist fold</li>
<li>St3-Directly below the centre of the eye,level with nostrils.</li>
  </div>
</div>
</div>

<div class="wrap-collabsible15"> 
  <input id="collapsible15" class="toggle15" type="checkbox">
  <label for="collapsible15" class="lbl-toggle15">Hypertension</label>
  <div class="collapsible-content15">
  <div class="content-inner15">
    <ul>
      <h3>Drugs</h3>
    <li>lisinopril</li>
    <li>amlodipine</li>
    <li>losartan</li>
    <li>hydrochlorothiazide</li>
    <li>metoprolol</li>
  </ul>
  <h4>Home remedy</h4>
  <li>Celery is a medicinal herb that is used as a food and traditional medicine.
       Celery contains essential oils and flavonoids.Potassium is necessary for the heart and might help manage high blood pressure.</li>
  <li>Oatmeal is a rich source of dietary fibre, and one of the many possibly beneficial home remedies to lower blood pressure.</li>
  <li>Drinking green tea may provide instant relief from high bp. </li>
<h4>Acupressure</h4>
<li>Liver 3 (LV3)-This point lies on your foot, between the big toe and the second toe. If you run your finger along the 
  space between the two toes you will find a dip where the metatarsals meet. Press down on the point lightly with your index and middle finger.
   Use a gentle circular motion over the point for 30 seconds to 2 minutes.</li>
<li>Large Intestine (LI4)-This point is located on the natural curve between your thumb and index finger. Use the thumb of the other hand to apply pressure on this point.
   You can use a pulsating movement and continue the motion for about 2 minutes. </li>

  </div>
</div>
</div>

<div class="wrap-collabsible16"> 
  <input id="collapsible16" class="toggle16" type="checkbox">
  <label for="collapsible16" class="lbl-toggle16">Insomnia</label>
  <div class="collapsible-content16">
  <div class="content-inner16">
    <ul>
      <h3>Drugs</h3>
    <li>trazodone</li>
    <li>Ambien</li>
    <li>zolpidem</li>
    <li>Belsomra</li>
    <li>Dayvigo</li>
  </ul>
  <h4>Home remedy</h4>
  <li>Cheese-cheese is rich in tryptophan which your body needs in order to feel relaxed and sleepy.</li>
  <li>Almonds are a good source of both calcium and magnesium, are important for achieving quality sleep.</li>
  <li>Bananas-The yellow fruits have everything going for them. They’re rich in sleep-promoting carbohydrates and tryptophan.</li>
<h4>Acupressure</h4>
<li> SP6- point is located around the ankle area. Pressure is placed on the inside of the ankle bone using your fingertips</li>
<li>Neiguan- pressure point is another one located on the inner wrist, about an inch from the crease.
   Said to help ease both anxiety and digestive issues and improves sleep quality.</li>
  </div>
</div>
</div>

<div class="wrap-collabsible17"> 
  <input id="collapsible17" class="toggle17" type="checkbox">
  <label for="collapsible17" class="lbl-toggle17">Migraine</label>
  <div class="collapsible-content17">
  <div class="content-inner17">
    <ul>
      <h3>Drugs</h3>
    <li>sumatriptan</li>
    <li>Imitrex</li>
    <li>Ubrelvy</li>
    <li>Nurtec ODT</li>
    <li>Botox</li>
  </ul>
  <h4>Home remedy</h4>
  <li>Inhaling lavender essential oil may ease migraine pain.</li>
  <li>The chemical menthol found in peppermint oil may help prevent migraine.</li>
  <li>Ginger is known to ease nausea caused by many conditions, including migraine.</li>
<h4>Acupressure</h4>
<li>LI-4 -Squeeze thumb and forefinger together, forming a ridge above the thumb. </li>
<li> Acupoint 26-Pinch the nostril, on the side opposite the septum.</li>
  </div>
</div>
</div>

<div class="wrap-collabsible18"> 
  <input id="collapsible18" class="toggle18" type="checkbox">
  <label for="collapsible18" class="lbl-toggle18">Pain</label>
  <div class="collapsible-content18">
  <div class="content-inner18">
    <ul>
      <h3>Drugs</h3>
    <li>tramadol</li>
    <li>gabapentin</li>
    <li>ibuprofen</li>
    <li>oxycodone</li>
    <li>acetaminophen</li>
  </ul>
  <h4>Home remedy</h4>
  <li>Lavender essential oil may help relieve pain naturally.</li>
  <li>Ginger, or Zingiber officinale, is a root that shows promise as a natural pain reliever.</li>
  <li>Curcuma, the active ingredient in the spice turmeric, has pain-relieving qualities.</li>
<h4>Acupressure</h4>
<li>CV6 -This acupressure point (CV6) is located 2 fingers below the belly button. Apply firm pressure with your index or middle finger.</li>
<li>These points are situated on both sides on the lower back, 2 finger widths (B23) and 4 finger widths (B47) from the spine at waist level, on each side of the spinal cord.
</li>
  </div>
</div>
</div>

<div class="wrap-collabsible19"> 
  <input id="collapsible19" class="toggle19" type="checkbox">
  <label for="collapsible19" class="lbl-toggle19">Pneumonia</label>
  <div class="collapsible-content19">
  <div class="content-inner19">
    <ul>
      <h3>Drugs</h3>
    <li>levofloxacin</li>
    <li>clarithromycin</li>
    <li>ceftriaxone</li>
    <li>Levaquin</li>
    <li>azithromycin</li>
  </ul>
  <h4>Home remedy</h4>
  <li>A warm saltwater gargle may help eliminate mucus or germs in the throat, which may provide some relief.</li>
  <li>Drinking a small amount of caffeine, such as a cup of coffee or black or green tea, may help open up the airways in the lungs.</li>
  <li>Drinking warm tea made with fresh ginger or turmeric root may help reduce this pain.</li>
<h4>Acupressure</h4>
<li>LU-5 -This is located right on the crease of the inside of the elbow, on the thumb side. Press this point for 1 minute at least.</li>
<li> LI-4 -The point is in the middle of that ridge, right above the end of the crease formed by the thumb and forefinger; 
   great for most problems from the waist up.</li>

  </div>
</div>
</div>

<div class="wrap-collabsible20"> 
  <input id="collapsible20" class="toggle20" type="checkbox">
  <label for="collapsible20" class="lbl-toggle20">Stroke</label>
  <div class="collapsible-content20">
  <div class="content-inner20">
    <ul>
      <h3>Drugs</h3>
    <li>Plavix</li>
    <li>clopidogrel</li>
    <li>aspirin</li>
    <li>Activase</li>
    <li>Bayer Aspirin</li>
  </ul>
  <h4>Home remedy</h4>
  <li>Turmeric can spice up stroke treatment by protecting and regenerating brain cells .</li>
  <li>Watermelon contains an amino acid called citrulline, which may help to manage high blood pressure.</li>
  <li>Drinking beet juice can reduce blood pressure in the short and long terms. </li>
<h4>Acupressure</h4>
<li>Pc-6 -
  Two thumb widths from the largest crease on the inside wrist; 
  the point is between the tendons in the middle of the wrist</li>
<li>Kd-3 -
  Behind the inner anklebone, on a line between the crown and the tip of the heel.</li>

  </div>
</div>
</div>

<div class="wrap-collabsible21"> 
  <input id="collapsible21" class="toggle21" type="checkbox">
  <label for="collapsible21" class="lbl-toggle21">Obesity</label>
  <div class="collapsible-content21">
  <div class="content-inner21">
    <ul>
      <h3>Drugs</h3>
    <li>phentermine</li>
    <li>topiramate</li>
    <li>Adipex-P</li>
    <li>Wegovy</li>
    <li>semaglutide</li>
  </ul>
  <h4>Home remedy</h4>
  <li>Drink warm water with honey, along with a tinge of lemon in the morning.</li>
  <li>Drinking hibiscus tea will help in regulating the metabolism of lipids and is 
      also useful in eliminating fat from your body.  </li>
  <li>Green Tea is rich in caffeine which helps in stimulating your body to burn fat and improving exercise performance.</li>
<h4>Acupressure</h4>
<li> TRen 6 is found 3 cm directly below the belly button. Use your index and middle fingers to massage this point up and down two minutes twice a day.</li>
<li>GV26 is located between the upper lip and the nose, in the crease or depression.
   Apply medium pressure for five minutes twice a day. This point can curb appetite and control hunger.</li>
  </div>
</div>
</div>
   
</body>
</html>