<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report</title>
    <link rel="stylesheet" href="../static/css/r_style.css" />
  </head>
  <body>
    <h2 class="heading">REPORT</h2>
    <table class="patient-det">
      <b><p class="table-head">PATIENT DETAILS</p></b>
      <tr>
        <td>Name: {{name}}</td>
        <td>Town: {{town}}</td>
        <td>Pin-Code: {{pin}}</td>
        <td>Country: {{country}}
        </td>
      </tr>
      <tr>
        <td>D.O.B: {{dob}}</td>
        <td>Gender: {{gender}}</td>
      </tr>
    </table>

    <b><p class="table-head">PATIENT CONDITION</p></b>
    <div class="pat-con">
    <table class="patient-cond">
        <tr>
            <th>Body-Vitals</th>
        </tr>
        {%for v, l in zipped_data%}
        <tr>
          <td>{{l}} = {{v}}</td>
        </tr>
        {%endfor%}
    </table>
    <table class="patient-cond">
      
      <tr>
        <th>Symptoms</th>
        <th>Result</th>
      </tr>
      <td>
        <td>{{res}}</td>
      </td>
    </table>
  </div>

  <b><p class="table-head">RECOMMENDATIONS</p></b>
  <div class="recs">
    <table class="recommendations-phy">
        <th >PHYSICAL</th>
        <tr>
          {%for p in phy%}
          <td>{{p}}</td>
        </tr>
          {%endfor%}
          </table>

          <table class="recommendations-meds">
          <th>MEDICINES</th>
        <tr>
          {%for p in meds%}
          <td>{{p}}</td>
        </tr>
          {%endfor%}
        </table>

        <table class="recommendations-medi">
          <th>MEDITATION</th>
        <tr>
          {%for p in medi%}
          <td>{{p}}</td>
        </tr>
          {%endfor%}
        </table>

        <table class="recommendations-nutri">
          <th>NUTRIENTS</th>
        <tr>
          {%for p in nutri%}
          <td>{{p}}</td>
        </tr>
          {%endfor%}

    </table>
  </div>

    <h2 style="text-align: center;">SUGGESTIONS</h2>
    
      {% for d in data %}
      <li class="info">{{ d }}</li>
      {% endfor %}
      
    
  </body>
</html>
