<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report</title>
    <link rel="stylesheet" href="../static/css/r_style.css" />
  </head>
  <body >
    
    <h2 class="heading">REPORT</h2>
    <table class="patient-det" >
      <b><p class="table-head" >PATIENT DETAILS</p></b>
      <tr>
        <td>Name: {{name}}</td>
        <td>Town: {{town}}</td>
        <td>Pin-Code: {{pin}}</td>
        <td>Country: {{country}}
        </td>
      </tr>
      <tr>
        <td>Gender: {{gender}}</td>
      </tr>
    </table>

    <b><p class="table-head">PATIENT CONDITION</p></b>
    <div class="pat-con">
    <table class="patient-cond">
        <tr>
            <th>Body-Vitals</th>
        </tr>
        {%for v, l in zipped_data%}
        <tr>
          <td>{{l}} = {{v}}</td>
        </tr>
        {%endfor%}
    </table>
    <table class="patient-cond">
      <tr>
        <th>Result</th>
      </tr>
      <tr>
        <td>{{res}}</td>
      </tr>
    </table>
    <table class="patient-cond">
      <tr>
        <th>Symptoms</th>
      </tr>
      {% for s in syms %}
      <tr>
        <td>{{s}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <b><p class="table-head">RECOMMENDATIONS</p></b>

        <h2 class="info-head">PHYSICAL</h2>
          
          <p>{% for d in phy %}
            <li class="info">{{ d }}</li>
            {% endfor %}</p>       

          <h2 class="info-head">MEDITATION</h2>
          <p>{% for d in medi %}
            <li class="info">{{ d }}</li>
            {% endfor %}</p>   

          <h2 class="info-head">NUTRIENTS</h2>
          <p>{% for d in nutri %}
            <li class="info">{{ d }}</li>
            {% endfor %}</p>   

      <div class="collapsible">
        <input id="collapsible1" class="toggle" type="checkbox">
        <label for="collapsible1" class="label">SUGGESTIONS</label>
        <div class="collapsible-content">
          <p>{% for d in data %}
            <li class="info">{{ d }}</li>
            {% endfor %}</p>
        </div>
      </div>
  </body>
</html>
